@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Alice&family=Montserrat:wght@400;700&display=swap');


.footer {
  color: white;
  padding: 20px 20px;
  text-align: center;
  background-color: #8d021f;
  margin-top: 30px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  display: inline;
  margin-right: 10px;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}


 @media screen and (max-width: 780px){
   
   .footer-content{
     display: block;
   }
   .footer-links{
     margin-bottom: 15px;
   }
   
   .credit{
     margin-bottom: 20px;
     text-align: center;
     font-size:13px ;
     font-family: "Roboto", serif;
     font-weight: bold;
     padding-bottom: 20px;
   }
   
   .footer-links li a{
     font-size: 15px;
   }
   .footer{
     margin-top: 15px;
   }
   
 }