.more-container{
  display: inline;
  margin: 10px;
}

.more-heading{
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

.link{
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  color:#ff4d4d;
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: center;
}